body,
html {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  background-color: #f5f6fa;
}



.matches-page {
  padding: 20px;
}

.matches-page .add {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px 20px;
  color: #fff;
  transition-duration: 0.4s;
  border: 1px solid #587ef5;
  background-color: #587ef5;
}

.matches-page .add:hover {
  box-shadow: 1px 1px 10px 1px #587ef5;
}

.matches-page .card {
  
  text-align: center;
  padding: 10px;
  font-family: "Cairo", sans-serif;
  margin-bottom: 10px;
  background-color: #fff;
}

.matches-page .card:hover {
  box-shadow: 1px 1px 10px 1px #aaa;
}

.matches-page .Team-name,
.matches-page .scour {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.matches-page .card .logoT1 img,
.matches-page .card .logoT2 img {
  width: 150px;
  height: 100px;
}

/*modal style*/

#modal-edit .uk-padding-large form input,
#modal-add .uk-padding-large form input {
  width: 250px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin: 5px;
}

#modal-edit .uk-padding-large form input[type="submit"] {
  border-color: green;
  color: green;
  background-color: #fff;
  transition-duration: 0.4s;
}

#modal-edit .uk-padding-large form input[type="submit"]:hover {
  background-color: green;
  color: #fff;
  box-shadow: 1px 1px 10px 1px green;
}

#modal-add .uk-padding-large form input[type="submit"] {
  border-color: #009ef7;
  color: #009ef7;
  background-color: #fff;
  transition-duration: 0.4s;
}

#modal-add .uk-padding-large form input[type="submit"]:hover {
  background-color: #009ef7;
  color: #fff;
  box-shadow: 1px 1px 10px 1px #009ef7;
}
