body,
html {
  padding: 0;
  margin: 0;
  background-color: #f5f6fa;
}
.note-mess {
  display: flex;
  align-items: center;
}

.uk-offcanvas-bar {
  background-color: #fff !important;
  padding: 0 !important;
}

.uk-offcanvas-bar .heading {
  background-color: #587ef5;
  padding: 10px 10px;
  text-align: right;
}
.uk-offcanvas-bar ul {
  list-style-type: none;
}

.uk-offcanvas-bar ul li {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.3s;
  color: #aaa;
}

.uk-offcanvas-bar ul li:hover {
  background-color: #587ef5;
  color: #fff;
  box-shadow: 1px 1px 10px 1px #587ef5;
}

header nav {
  box-shadow: 1px 1px 5px 1px #aaa;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

header nav .messages a,
header nav .notifications a {
  color: #aaa;
  font-size: 20px;
}

header nav .messages .message-span,
header nav .notifications .note-span {
  cursor: pointer;
}

.message sup,
.note sup {
  background-color: firebrick;
  padding: 1px 5px;
  border-radius: 50%;
  color: #fff;
  margin-left: -8px;
  margin-top: -4;
  border: 1px solid #fff;
}

header nav .menu button {
  border-width: 0;
}
.dashboard-view {
  height: 100vh;
}
