body,
html {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  background-color: #f5f6fa;
}

.club-page {
  padding: 20px;
}

.club-page .search-add {
  padding: 20px 10px;
  text-align: center;
}

.club-page .search-add .add,
.club-page .search-add .search {
  margin-bottom: 10px;
}

.club-page .search-add .add button {
  border-radius: 20px;
  padding: 5px 20px;
  color: #fff;
  transition-duration: 0.4s;
  border: 1px solid #587ef5;
  background-color: #587ef5;
}

.club-page .search-add .add button:hover {
  box-shadow: 1px 1px 10px 1px #587ef5;
}

.club-page .search-add .search form input {
  width: 200px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #aaa;
}

.club-page .container .row .card {
  text-align: center;
  padding: 10px;
  font-family: "Cairo", sans-serif;
  margin-bottom: 10px;
  background-color: #fff;
}

.club-page .container .row .card:hover {
  box-shadow: 1px 1px 10px 1px #aaa;
}

.club-page .container .row .card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  border: 1px solid #aaa;
}

.club-page .container .row .card h3 {
  font-weight: bold;
  font-family: "Cairo", sans-serif;
}

.club-page .container .row .card .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #aaa;
  font-size: 15px;
  margin-bottom: 20px;
}

.club-page .container .row .card .info .No-players {
  color: dodgerblue;
  font-weight: bold;
}
